# Ignore checkpoint files and other temporary files
.DS_Store
__pycache__/
.ipynb_checkpoints/

# Ignore some data files
data/skeletons/BigBrainMR/*
!data/skeletons/BigBrainMR/.gitkeep
!data/skeletons/BigBrainMR/README.md
